.Dot {
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.Dice {
  background-color: white;
  border: 1px solid black;
  border-radius: 10%;
  width: 95px;
  height: 140px;
}
